<header>
	<div class = "large_head">
		<h1>URL</h1>
		<div class = "co">
			<a href = "" class = "lien lien_co">inscription</a>
			<a href = "" class = "lien lien_co">connexion</a>
		</div>
	</div>
</header>