<!DOCTYPE html>

<html lang = "fr">
	<head>
		<title>url</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/assets/design.css"/>
		<script type = "text/javascript" src = "/assets/jQuery_3.3.1.js"></script>
		<script type = "text/javascript" src = "/assets/code.js"></script>
		<meta name = "viewport" content = "width=divice-width, initial-scale=1.0"/>
	</head>
	<body>
		<% include header %>
		<section>
			<% if (locals.url) { %>
				<%= url %>
			<% } %>
		</section>
		<% include footer %>
	</body>
</html>